* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#main {
  overflow: scroll;
  display:  block;
  top: 0;
  left: 0;
}

.map {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background: transparent;
}

#background {
  z-index: 10;
  background: #6f6fbf;
  background-image:url('images/grid16.png');
}

#shadows {
  z-index: 20;
}

#foreground {
  z-index: 30;
}

#stats {
  position: fixed;
  top:0;
  right:0;
  z-index: 100;
}

#music {
  position: fixed;
  top: 0;
  left: 0;
}


/* Mobile */
body::before {
  display: none;
  content: '{ "current": "small", "all": ["small"] }';
}

/* Tablet */
@media (min-width: 480px) {
  body::before {
    content: '{ "current": "medium", "all": ["small", "medium"] }'
  }
}

/* Desktop */
@media (min-width: 640px) {
   body::before {
    content: '{ "current": "large", "all": ["small", "medium", "large"] }'
  }
}
