* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.map {
  background: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
}

#background {
  z-index: -3;
}

#fixed {
  z-index: -2;
}

#dynamic {
  z-index: -1;
}

#hud {
  z-index: 0;
}

#stats {
  position: fixed;
  top:0px;
  right:0px;
  z-index: 100;
}

#music {
  position: fixed;
  top: 0px;
  left: 0px;
}

.map {
  display: block;
}

/* Mobile */
body::before {
  display: none;
  content: '{ "current": "small", "all": ["small"] }';
}

/* Tablet */
@media (min-width: 480px) {
  body::before {
    content: '{ "current": "medium", "all": ["small", "medium"] }'
  }
}

/* Desktop */
@media (min-width: 640px) {
   body::before {
    content: '{ "current": "large", "all": ["small", "medium", "large"] }'
  }
}
