@font-face {
  font-family: 'xkcd-Regular';
  src: url('fonts/xkcd-Regular.eot') format('eot'), url('fonts/xkcd-Regular.otf') format('opentype');
}

html, body {
  height: 100%;
}

.comic {
  font-family: xkcd-Regular;
  font-variant: normal;
}

image, canvas {
 user-select: none;
 -ms-user-select: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -webkit-touch-callout: none;
 -webkit-user-drag: none;
}

.map {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background: transparent;
  border: 1px solid #000000;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0); /* gpu layer in isolation */
}

#background {
  z-index: -3;
  background: #6f6fbf;
  background-image:url('images/graph-tile.png');
}

#shadows {
  z-index: -2;
}

#foreground {
  z-index: -1;
}

#stats {
  position: fixed;
  bottom:0;
  right:0;
  z-index: 100;
}

#main {
  position: relative;
  /* This could be done in one single declaration. See the extended sample. */
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  background: #000000;
}

/* Sticky footer */

@media (max-height: 600px) {
  footer {
    visibility: hidden;
  }
  #stats {
    visibility: hidden;
  }
}

footer {
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

