* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'xkcd-Regular';
  src: url('fonts/xkcd-Regular.eot') format('eot'), url('fonts/xkcd-Regular.otf') format('opentype');
}

.comic {
  font-family: xkcd-Regular;
  font-variant: normal;
}

#main {
  overflow: hidden;
  display: block;
  top: 0;
  left: 0;
}

image, canvas {
 user-select: none;
 -ms-user-select: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -webkit-touch-callout: none;
 -webkit-user-drag: none;
}

.map {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background: transparent;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0); /* gpu layer in isolation */
}

#background {
  z-index: 10;
  background: #6f6fbf;
  background-image:url('images/graph-tile.png');
}

#shadows {
  z-index: 20;
}

#foreground {
  z-index: 30;
}

#stats {
  position: fixed;
  top:0;
  right:0;
  z-index: 100;
}

#music {
  position: fixed;
  top: 0;
  left: 0;
}


/* Mobile */
body::before {
  display: none;
  content: '{ "current": "small", "all": ["small"] }';
}

/* Tablet */
@media (min-width: 480px) {
  body::before {
    content: '{ "current": "medium", "all": ["small", "medium"] }'
  }
}

/* Desktop */
@media (min-width: 640px) {
   body::before {
    content: '{ "current": "large", "all": ["small", "medium", "large"] }'
  }
}
