/* Mobile */
body::before {
  display: none;
  content: '{ "current": "small", "all": ["small"] }';
}

/* Tablet */
@media (min-width: 480px) {
  body::before {
    content: '{ "current": "medium", "all": ["small", "medium"] }'
  }
}

/* Desktop */
@media (min-width: 640px) {
   body::before {
    content: '{ "current": "large", "all": ["small", "medium", "large"] }'
  }
}
